* {
    color:#21BFBF;
    background-color: #232529;
}

.form-inputs-wrapper {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 20em;
}

input {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    background-color: #232529;
    border-radius: 20%;
    font-size: 24px;
    font-weight: 700;
    width: 80px;
    padding: 1em 0em 1em 0em;
}

input:focus {
    border-radius: 20%;
    border-color: #21BFBF !important;
}

.submit {
    position: relative;
    box-sizing: border-box;
    border-radius: 0%;
    left: 9em;
    padding: 0;
    border: none;
    font-size: 13.5px;
}